<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="css/index.css"/>
    
  </head>
  <body>
    <div id="root"></div>
    <script type="text/javascript" src="js/base/babel.js"></script>
    <script type="text/javascript" src="js/base/react.development.js"></script>
    <script type="text/javascript" src="js/base/react-dom.development.js"></script>
    <script type="text/babel" src="js/react/editor-table.jsx"></script>
  </body>
</html>
