body{
  margin-top:5%;
}

a{
  color:inherit;
}

.error{
  align-self: center;
}

.cell{
  background-color:grey;
  height:32px;
  width:32px;
  margin:1px;
}

.rowG{
  display: grid; 
  grid-template-columns: 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px; 
  background-color: #fff; 
  grid-gap:1px;
  color: #444; 
  margin:1px;
} 

#table{
  border-style:solid;
  border-width:5px;
  border-color:black;
  max-width:904px;
  border-radius:2px;
}


.rowG-menu {
  display: grid; 
  grid-template-columns: 32px 32px;
  background-color: #3f57c9; 
  grid-gap:10px;
  color: #444; 
}

.menu{
  border-style:solid;
  border-width:5px;
  border-radius:2px;
  border-color:black;
  padding: 5px; 
}

#menu{
  max-width: 200px;
}

#table-menu {
  border-style:solid;
  border-width:3px;
  border-color:aquamarine;
  border-radius:5%;
  margin: 5px 20px 5px 54px;;
  max-width: 82px;
}

.but{
  margin:2px;
}